@import "../../pages/form.less";

.textbox-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 15px;
}

.textbox-row-start {
    .form-row-start();
}

.textbox-button-container-left {
    .form-button-container-left();
}

.textbox-replybox-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;  
    margin-top: 5px;
}

.textbox-textarea-buttons {
    display: flex;
    justify-content: flex-start;
    background-color: var(--inputBG);
    border: 1px solid var(--textBoxBorder);
    border-radius: 9px 9px 0px 0px;
    border-bottom: none;
}

.textbox-textarea-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    padding: 8px 10px;
    cursor: pointer;
    & > img {
        width: auto;
        height: 20px;
    }
    &:hover {
        filter: brightness(150%);
    }
}

.textbox-preview {
    display: flex;
    flex-direction: column;
    background-color: var(--inputBG);
    border: 1px solid var(--textBoxBorder);
    border-radius: 0px 0px 9px 9px;
    min-height: 200px;
    & > div > span {
        font-size: 21px;
    }
    & > span {
        font-size: 25px;
    }
}

.textbox-textarea {
    .form-textarea();
    margin-left: 0px;
    border: 1px solid var(--textBoxBorder);
    border-radius: 0px 0px 9px 9px;
    font-size: 25px;
}

.textbox-button {
    .form-button();
    margin-right: 10px;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.textbox-emoji-button {
    .form-button();
    margin-right: 10px;  
    display: flex;
    align-items: center;
    justify-content: center;
    & > img {
        height: 35px;
        width: auto;
        cursor: pointer;
    }
    &:hover {
        border-color: white;
        & > img {
            filter: invert(1);
        }
    }
}

.textbox-preview-button {
    .textbox-button();
    background-color: var(--previewBG);
}

.textbox-edit-button {
    .textbox-button();
    background-color: var(--editBG);
}

.textbox-validation {
    .form-validation();
}

.textbox-validation-container {
    .form-validation-container();
}

.textbox-replybox-text {
    font-family: "irohamaru mikami", sans-serif;
    font-size: 20px;
    color: var(--text);
    user-select: text;
    word-wrap: break-word;
    white-space: preserve;
}

.textbox-checkbox {
    width: auto;
    height: 20px;
    cursor: pointer;
}

.textbox-icon {
    width: auto;
    height: 22px;
    margin-right: 10px;
}

.emoji-grid {
    position: absolute;
    z-index: 5000;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 400px;
    background-color: var(--sortbarBG);
    overflow-y: auto;
    overflow-x: hidden;
    transform-origin: bottom;
    transition: all 0.3s;
}

.hide-emoji-grid {
    transform-origin: bottom;
    transform: scaleY(0);
}

.emoji-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 100%;
}

.emoji-big {
    width: auto;
    height: 40px;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .textbox-textarea-button {
        padding: 8px 8px;
        & > img {
            width: auto;
            height: 15px;
        }
    }

    .textbox-textarea {
        margin-bottom: 10px;
    }
}