# Sensitive data
.env
.ssh
dump.rdb
*.pem

# Build folders
node_modules
__pycache__
dist

# IDE settings
.vscode

# Downloaded Files
files
dump

# Other
.DS_Store
.cache

# Crypto
structures/DecryptFunctions.ts
structures/EncryptFunctions.ts

# Live2D Cubism
assets/live2d/*

# WDTagger
assets/misc/wdtagger

# WASM
structures/build/*
!structures/build/NativeFunctions.js
!structures/build/NativeFunctions.wasm