# Sensitive data
.env
.ssh
dump.rdb
*.pem

# Build folders
node_modules
__pycache__
build
dist

# IDE settings
.vscode

# Downloaded Files
files
dump

# Other
.DS_Store
.cache

# Crypto
structures/Decryption.ts
structures/Encryption.ts

# Live2D Cubism
assets/live2d/*

# WDTagger
assets/python/wdtagger