@import "node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "node_modules/react-image-crop/dist/ReactCrop.css";

@font-face {
    font-family: "GenEi M Gothic v2";
    src: url("assets/fonts/GenEiMGothic2-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Honoka Shin Antique-Kaku";
    src: url("assets/fonts/Honoka-Shin-Antique-Kaku_M.ttf") format("truetype");
}

@font-face {
    font-family: "irohamaru mikami";
    src: url("assets/fonts/irohamaru-mikami-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "JK Gothic M";
    src: url("assets/fonts/JKG-M_3.ttf") format("truetype");
}

@font-face {
    font-family: "Tsunagi Gothic Black";
    src: url("assets/fonts/TsunagiGothic.ttf") format("truetype");
}

@title-bar-height: 60px;
@nav-bar-height: 30px;
@sort-bar-height: 35px;
@tag-banner-height: 35px;
@footer-height: 25px;
@sidebar-width: 220px;

:root {
    --selection: #ffe0f4;
    --background: #FFFFFF;
    --black: #000000;
    --white: #FFFFFF;

    --titlebarBG: #FFD6EB;
    --moeTextA: #FF5099;
    --moeTextB: #FF307F;
    --titleText: #FF579D;

    --navbarBG: #FFD6EB;
    --navbarText: #FF579D;
    --titleButtons: #FF44A1;
    --loginText: #ff3ca4;

    --sidebarBG: #FFEFF7;
    --sidebarText: #000000;
    --sidebarButtons: #FF529A;
    --sidebarSearchBG: #FFFFFF;
    --sidebarSearchFocus: #ff81c4;
    --sidebarTitleText: #FF2194;
    --sidebarTextA: #FF328B;
    --sidebarTextB: #ff4bb9;

    --tagReadColor: rgba(255, 87, 205, 0.5);
    --text: #000000;
    --text-alt: #ff3891;
    --inputBG: #ffffff;
    --inputBorder: #000000;
    --itemBorder: rgba(255, 66, 179, 0.04);
    --textBoxBorder: #ff42b3;
    --bannerText: #000000;

    --sortbarBG: rgba(255, 255, 255, 0.75);
    --sortbarIcons: #FF579D;
    --sortbarText: #000000;

    --tooltipBG: rgba(255, 240, 251, 0.7);

    --footerBG: #FFD6EB;

    --imageBorder: #FF77CB;
    --pageButton: #FF93CB;
    --drop-color1: rgba(250, 112, 213, 0.7);
    --drop-color2: rgba(252, 124, 194, 0.9);
    --selectBorder: #ff73ce;
    --r18BGColor: #e2067f4a;

    --progressText: #000000;
    --progressBG: #ffffff;
    --previewBG: #AAABFF;
    --editBG: #f7afff;
    --bubbleBG: rgba(255, 171, 226, 0.8);
    --buttonBG: #FF63BB;

    --audioPlayerColor: #FFEFF7;
    --audioPlayerIcons: #FF579D;
    --audioFilterColor: #ff4d97;

    --sidebarSearchButtonBG: #FF579D;
    --sidebarRandomButtonBG: #FF549B;
    --sidebarSaveSearchButtonBG: #5f51fe;
    --sidebarFavSearchButtonBG: #ff2897;
    --tagCountColor: #ff59ba;
    --text-strong: #FF16A6;

    --artistTagColor: #ff1994;
    --characterTagColor: #ff1ce6;
    --seriesTagColor: #b32fff;
    --metaTagColor: #339fff;
    --appearanceTagColor: #8928ff;
    --outfitTagColor: #ff29b5;
    --accessoryTagColor: #2be941;
    --actionTagColor: #ff8e2b;
    --sceneryTagColor: #2b6aff;
    --tagColor: #641fff;
    --tagCountColor: #ff1fe7;
    --savedSearchColor: #8d5dff;

    --favoriteBorder: #e72d95;
    --favgroupBorder: #c22de7;
    --variationBorder: #1664de;
    --parentBorder: #1eab3c;
    --childBorder: #c59f23;
    --groupBorder: #ff5c2e;
    --takendownBorder: #7f0a0a;
    --lockedBorder: #b40e1d;

    --historyColor: #ed1287;
    --noteColor: #5612ed;
    --actionBannerColor: #ce1a4d;
    --pendingColor: #286be7;
    --deletedColor: #b21740;

    --banText: #fc1657;
    --r18Color: #e20644;
    --sketchColor: #189af7;
    --lockColor: #f71e75;

    --userColor: #4b48ff;
    --contributorColor: #b948ff;
    --curatorColor: #fc279f;
    --premiumColor: #ff22e5;
    --systemColor: #ffa923;
    --modColor: #1365f6;
    --adminColor: #d70c67;

    --cookieColor: #FB2493;
}

.dark {
    --selection: #fc69bc;
    --background: #10030C;

    --titlebarBG: #1C0713;
    --moeTextA: #FF5099;
    --moeTextB: #FF307F;
    --titleText: #FF5099;

    --navbarBG: #1C0713;
    --navbarText: #FF3CA4;
    --titleButtons: #FF42A1;
    --loginText: #fe2391;

    --sidebarBG: #16050F;
    --sidebarText: #ff54ed;
    --sidebarSearchBG: #2D0D1A;
    --sidebarSearchFocus: #e00882;
    --sidebarTitleText: #FF0CB2;
    --sidebarTextA: #FF3281;
    --sidebarTextB: #FF32EE;

    --tagReadColor: rgba(255, 31, 158, 0.5);
    --text: #ffffff;
    --text-alt: #ff3891;
    --text-strong: #FF16A6;
    --itemBorder: rgba(255, 66, 179, 0.04);
    --textBoxBorder: #ff42b3;
    --inputBG: #200014;
    --bannerText: #ff5fa2;

    --sortbarBG: rgba(14, 1, 10, 0.95);
    --sortbarIcons: #FF4391;
    --sortbarText: #FFFFFF;

    --tooltipBG: rgba(34, 3, 22, 0.85);

    --footerBG: #1C0713;

    --imageBorder: #FF77CB;
    --pageButton: #FF4E92;
    --drop-color1: rgba(165, 13, 152, 0.7);
    --drop-color2: rgba(226, 26, 173, 0.9);
    --selectBorder: #e610a6;
    --r18BGColor: #5603383d;

    --progressText: #ffffff;
    --progressBG: #000000;
    --buttonBG: #FF41AC;
    --previewBG: #AAABFF;
    --editBG: #ff34e1;
    --bubbleBG: rgba(255, 43, 188, 0.8);

    --audioPlayerColor: #1D0915;
    --audioPlayerIcons: #FF1F7C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@-moz-document url-prefix() {
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--titlebarBG) var(--background);
    }
}

.stop-transitions * {
    transition: none !important; 
}

.no-scroll {
    overflow: hidden;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
    z-index: -1000;
    -webkit-touch-callout: none;
}

body {
    overflow-x: hidden;
}

.app {
    opacity: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--background);
}

.body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

::selection {
    background-color: var(--selection);
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--titlebarBG);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--navbarBG);
}


.stroke-black() {
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black,0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black,0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black,0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

.stroke-black-thin() {
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black,0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black,0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black,0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.stroke-white() {
    text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white,0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white,0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white,0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
    outline: none;
    &:focus {
        border: none;
    }
}

input[type="color"]::-moz-color-swatch {
	border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	border: none;
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}

div:focus, input:focus, button:focus, textarea:focus {
    outline: none;
}

input[type="file"] {
    display: none;
}

a {
    display: inline-flex;
    text-decoration: none;
    color: var(--text);
    &:visited {
        color: var(--text-alt);
    }
}

img {
    image-rendering: optimizequality;
}

.italic {
  font-style: italic;
}

.nowrap {
  text-wrap: nowrap;
}

.rotate {
    animation: rotate 3.5s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.emoji {
    margin-top: 5px;
    width: auto;
    height: 40px;
}

.react-transform-wrapper {
    z-index: 1100;
    height: 100% !important;
    overflow: visible !important;
}

.react-transform-component {
    height: 100% !important;
    align-items: center;
}

.strikethrough {
    text-decoration: line-through;
    color: #c10b2f !important;
}

.strikethrough-color {
    color: #c10b2f !important;
}

.user-color {
    color: var(--userColor) !important;
}

.contributor-color {
    color: var(--contributorColor) !important;
}

.curator-color {
    color: var(--curatorColor) !important;
}

.premium-color {
    color: var(--premiumColor) !important;
}

.system-color {
    color: var(--systemColor) !important;
}

.mod-color {
    color: var(--modColor) !important;
}

.admin-color {
    color: var(--adminColor) !important;
}

.tag-reg-color {
    color: var(--text) !important;
}

.tag-add {
    color: #2297ff !important; // #22ff4a
    margin-right: 10px;
}

.tag-add-color {
    color: #2297ff !important;
}

.tag-remove {
    color: #ff0c7e !important; // #ff202b
    margin-right: 10px;
}

.tag-remove-color {
    color: #ff0c7e !important;
}

.tag-add-clickable {
    color: #2297ff !important; // #22ff4a
    margin-right: 10px;
    cursor: pointer;
    &:hover {
        filter: brightness(130%);
    }
}

.tag-remove-clickable {
    color: #ff0c7e !important; // #ff202b
    margin-right: 10px;
    cursor: pointer;
    &:hover {
        filter: brightness(130%);
    }
}

.artist-tag-color {
    color: var(--artistTagColor) !important;
}

.character-tag-color {
    color: var(--characterTagColor) !important;
}

.series-tag-color {
    color: var(--seriesTagColor) !important;
}

.meta-tag-color {
    color: var(--metaTagColor) !important;
}

.appearance-tag-color {
    color: var(--appearanceTagColor) !important;
}

.outfit-tag-color {
    color: var(--outfitTagColor) !important;
}

.accessory-tag-color {
    color: var(--accessoryTagColor) !important;
}

.action-tag-color {
    color: var(--actionTagColor) !important;
}

.scenery-tag-color {
    color: var(--sceneryTagColor) !important;
}

.tag-color {
    color: var(--tagColor) !important;
}

.r18-tag-color {
    color: #c51446 !important;
}

.banned {
    font-weight: normal;
    text-decoration: line-through;
}

.deleted {
    font-weight: normal;
    text-decoration: line-through;
    color: var(--deletedColor);
}

.spoiler {
    color: var(--text);
    background-color: var(--text);
    transition: color 0.1s, background-color 0.1s;
    &:hover, &:focus {
        color: inherit;
        background-color: inherit;
    }
}

.pointer-cursor {
    cursor: pointer;
    &:hover {
        filter: brightness(120%);
    }
}

.link-favicon {  
    height: 18px;
    width: 18px;
    border-radius: 5px;
    margin-right: 5px;
}

.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: var(--text);
	position: fixed;
	z-index: 9999;
	top: 0;
	right: 100%;
	width: 100%;
	height: 2px;
}

#particles {
    pointer-events: none;
}

@media screen and (max-width: 500px) {
    .stop-transitions * {
        opacity: 0;
        transition: none !important; 
    }

    .body {
        flex-direction: column;
    }
}